language: ruby
rvm:
  - 2.2.0
before_script:
  - cp .env.sample .env
  - bundle exec rake db:create db:setup
env: DATABASE_USERNAME=postgres DATABASE_PASSWORD=''
cache: bundler
script: bundle exec rspec spec
sudo: false
